#root {
  margin: 0;
  font-family: sans-serif;

}

p {
  text-align: justify;
  font-size: 14.9px;
  font-weight: 300;
  color: rgba(39, 39, 39, 0.7);
  margin-bottom: 30px;
  line-height: 1.6;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

.home-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

h6 {
  font-size: 14.5px;
  letter-spacing: 1px;
  font-weight: 300;
  color: rgba(39, 39, 39, 0.7);
  padding-right: 78px;
  margin-bottom: 30px;
  line-height: 1.7;
}



/* global css end ######################################## */

.container {
  background-image: url("https://tidytheme.com/tidytheme/aidiex/html/images/slider6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 100px;
}


/* navber  ###################################### */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

}


.nav-rapper-hide{
 position: absolute;
 top: -300px;
}



.list-Li-style {
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;

}

.nav-manue-icon {
  font-size: 27px;
  font-weight: bolder;
  display: none;
}


.bannar-container {
  width: 50%;
  padding: 55px 40px 0;
}

.bannar-container h4 {
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 600;
  color: #B89841;
  line-height: .8;
}

.bannar-container h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2px;
}



.button-style {
  background-color: #B89841;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: 600;
  color: #ffff;
  outline: none;
  border: none;
  border-radius: 5px;

}


.who-container {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.who-container h6 {
  width: 60%;
  text-align: justify;
  border-left: 2px solid rgb(217, 216, 216);
  padding: 0 30px;
}

.extra-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 60px;
  margin-bottom: 70px;
}

.learn-more-container img {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 20px;
}


/* .learn-more-container p {
  text-align: justify;
  font-size: 14.9px;
  font-weight: 300;
  color: rgba(39, 39, 39, 0.7);
  margin-bottom: 30px;
  line-height: 1.6;
} */

.fetures-container {
  display: flex;
  gap: 30px;
  align-items: start;
}

.fetures-container img {
  width: 60%;
  height: 70px;
}

.fetures-container h3 {
  margin-top: 0;
}

.fetures-container p {
  padding-right: 40px;
}

.title {
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.service-main {
  padding: 40px;
  background-color: #f8fcff;
  margin-top: 30px;
  padding-bottom: 100px;
}

.service-container p {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

hr {
  width: 130px;
  border: 1.5px solid #B89841;
  border-radius: 2px;
  margin-bottom: 30px;
}




.details-container {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(3, 1fr);

}




.title-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 15px;
}

.img-style {
  width: 100%;
}

.title-container img {
  width: 50px;
  height: 40px;
  border: 1px solid rgb(172, 171, 171);
  padding: 5px 8px;

}

.title-container h4 {
  font-size: 20px;
}


.project-main-container {
  padding: 40px;
  background-color: #f2f8fd;
  padding-bottom: 80px;
  padding-top: 150px;
}


.search {
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  background: #ffff;
  margin: 20px 200px;

}

.search:hover {
  cursor: pointer;
}

.search li {
  text-align: center;
  padding: 12px;
  flex: 1;
  font-size: 14.5px;
  font-weight: 600;
  letter-spacing: 1px;

}

.img-main-container {
  display: grid;
  gap: 13px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;

}



.img-container {
  width: 100%;
  height: 320px;
  overflow: hidden;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  transition: background-color 0.3s ease;

}



.shutter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.792);
  opacity: 80%;
  transform: scaleY(0);
  /* Initial height is 0 */
  transform-origin: bottom;
  transition: transform .8s ease;
}

.img-container:hover {
  transform: scale(1);
}

.img-container:hover .shutter-overlay {
  transform: scaleY(1);
}


.shutter-overlay-title {
  text-align: center;
  margin-top: 50%;

}

.shutter-overlay-title h5 {
  font-size: 18px;
  line-height: .6;
  letter-spacing: 1px;
  font-family: 'Pacifico', cursive;
  color: #B89841;
}

.shutter-overlay-title h3 {
  font-size: 28px;
  line-height: .6;
  letter-spacing: 1px;
  font-family: 'Pacifico', cursive;
  color: white;
}


.team-main-container {
  display: grid;
  gap: 13px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;

}


.team-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  transition: background-color 0.3s ease;
}

.team-title {
  text-align: center;
  margin-top: 30px;
}

.team-title h4 {
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.team-title h3 {
  margin-top: 0;
  letter-spacing: 1px;
}

.team-rapper {
  padding: 100px 40px;
}

.plan-rapper {
  background-image: url("https://tidytheme.com/tidytheme/aidiex/html/images/pricing.jpg");
  padding: 60px 40px;
  color: #ffff;
  height: 400px;
  margin-bottom: 200px;
}

.plan-des {
  color: #ffff;
}

.plan {
  background-color: #f2f8fd;
  border: 1px solid #f2f8fd;
}

.hole-rapper {
  background-color: #f2f8fd;
}

.dolar {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  margin: 0;

}

.plan-container {
  background: #ffff;
  color: rgb(86, 84, 84);
  text-align: center;
  padding: 40px 0;
  padding-bottom: 60px;
  border-radius: 3px;

}


.plan-container:hover {
  transform: scale(1.1);
  transition: 1s;
}

.plan-container h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1px;
}

.plan-description {
  color: rgb(86, 84, 84);
}

.plan-main {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 70px;
}

.plan {
  background-color: #f2f8fd;
  padding-bottom: 100px;
}



.plan-description {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.plan-description li {
  flex: 1;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;

}

#text-title {
  text-align: center;
}

.contact-rapper {
  margin: 50px 40px;
}

.contact-main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.contact-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contact-container h5 {
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.contact-container span {
  color: #333;
  font-size: 18px;
  font-weight: 400;
}


#icon {
  color: #B89841;
  float: left;
  font-size: 50px;
  margin-top: 5px;
  padding: 7px;
}

.form-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 90px;

}

.inpt-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inpt-container input {
  padding: 10px;
  outline: inherit;
  border-color: #acabab;
  border-width: medium medium 1px;
  border-style: none none solid;
}

.form-box textarea {
  padding: 10px;
  outline: none;
  border-color: #acabab;
  border-width: 1px;
  border-style: solid;
  height: 155px;
}

.carousel {
  margin-top: 50px;
  padding: 40px;
}

.carousel h1 {
  text-align: center;
  font-family: 'Pacifico';
  letter-spacing: 2px;
  line-height: .8;
  margin: 30px 0;
}


.count-up-section {
  text-align: center;
  font-size: 2rem;
  margin-top: 70px;

}

.count-rapper {
  background-color: #272626;
  color: #ffff;
  padding: 60px 160px;
}

.count-title p {
  width: 50%;
  margin: auto;
  color: #ffff;
  text-align: center;

}

.count-main-container {
  display: flex;
  justify-content: space-between;
}

.count-up-section h5 {
  margin: 0;
  font-size: 25px;
  margin-top: 5px;
  letter-spacing: 1px;

}

.number {
  color: #c09c3a;
}





.footer {
  background-color: black;
  color: #fff;
  padding: 50px 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.menu-section {
  flex: 1;
  padding: 0 20px;
}

.menu-section img {
  margin-top: 18px;
}

.menu-section h3 {
  font-size: 1.2rem;
  /* margin-bottom: 10px; */
  letter-spacing: 1px;
}

.menu-section ul {
  list-style: none;
  padding: 0;
}

.menu-section li {
  margin-bottom: 5px;
}

.menu-section a {
  color: #a8a8a8;
  margin-top: 25px;
  text-decoration: none;
  letter-spacing: 1px;
}

.social-icon {
  font-size: 17px;
  padding: 8px;
  border: 1px solid #a8a8a8;
  border-radius: 100%;
  margin-right: 15px;
  margin-top: 20px;
  transition: background-color .4s ease;
}

.social-icon:hover {
  background-color: #c09c3a;
  color: #ffff;
}
